<!doctype html>
<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="content-type">
    <title>Index Page</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-animate.js"></script>
    <script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-1.1.2.js"></script>
    <script src="controllers.js"></script>
	<script src="config/main.js"></script> <!-- app - будет доступен -->
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="styles.css" rel="stylesheet">
    <script>
        // PostExample
        //{
        // "userId": 1,
        // "id": 1,
        // "title": "sunt aut facere repellat provident occaecati excepturi optio reprehenderit",
        // "body": "quia et suscipit\nsuscipit recusandae consequuntur expedita et cum\nreprehenderit molestiae ut ut quas totam\nnostrum rerum est autem sunt rem eveniet architecto"
        //}

        // CommentExample
        // [
        // {
        // "postId": 1,
        // "id": 1,
        // "name": "id labore ex et quam laborum",
        // "email": "Eliseo@gardner.biz",
        // "body": "laudantium enim quasi est quidem magnam voluptate ipsam eos\ntempora quo necessitatibus\ndolor quam autem quasi\nreiciendis et nam sapiente accusantium"
        // },
        // ...
        // ]
    </script>
</head>

<body ng-app="TestTaskApp">
    <div class="container">
        <div class="jumbotron">
            <h1>Test Task</h1>
            <p>Data from JSONPlaceholder</p>
        </div>

        <div ng-controller="PostsCtrl">
            <ul class="list-group" ng-repeat="post in posts">
                <li class="list-group-item">
                    <uib-accordion>
                        <uib-accordion-group is-open="status.open">
                            <uib-accordion-heading>
                                <h4 class="list-group-item-heading">{{post.title}}</h4>
                                <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                                <br/>
                                <br />
                                <p class="list-group-item-text">{{post.body}}</p>
                                <br />
                                <p class="userPostContainer">user {{post.userId}}</p>
                            </uib-accordion-heading>
                            <div ng-controller="CommentsCtrl" ng-model=post>
                                <ul class="list-group" ng-repeat="comment in comments">
                                    <li class="list-group-item">
                                        <div class="headerCommentContainer">{{comment.name}}</div>
                                        <br />
                                        <p class="bodyCommentContainder"></p>{{comment.body}}
                                    </li>
                                </ul>
								<div class="centerText list-group-item" ng-class="commentClass" ng-hide="comments.length">{{messageComment}}</div>
                            </div>
                        </uib-accordion-group>
                    </uib-accordion>
                </li>
            </ul>
			<div class="centerText list-group-item" ng-class="postClass" ng-hide="posts.length">{{messagePost}}</div>
        </div>

    </div>
</body>
</html>