﻿
.headerCommentContainer {
    font-style: italic;
}
.bodyCommentContainder {
    text-align: justify;
}

.userPostContainer {
    text-align: right;
    font-style: italic;
}

.centerText{
	text-align: center;
}